<style>
    .container {
        width: 400px;
        height: 800px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    
</style>

<div class="container">
<h1>Register</h1>
    <form action="/register" method="post">
        <div>
            <label for="name">Your name</label><br>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="email">Your email</label><br>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Your password</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <button type="submit" value="Register">Register</button>
    </form>
    <a href="/login">&lArr; Login</a>
</div>